@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .product {
        max-width: 345px;
    }
    
    .seasons__img_content {
        max-width: 344px;
        max-height: 236px;
                        
    }
    .words__img_content {
        max-width: 344px;
        max-height: 236px;
                        
    }

}

@media (min-width: 768px) and (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .products__box {
        gap: 30px;
    }


}

@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        height: 735px;

        &__content {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
        }

        &__heading {
            font-size: 32px;
            padding-top: 218px;
            text-align: center;
            line-height: 39px;
        }

        &__subtitle {
            font-size: 14px;
            text-align: center;
            line-height: 22px;
        }
    }

    .product {
        &__text {
            bottom: 48px;
            left: 16px;
        }
    }

    .products__box {
        justify-content: center;
    }

    .seasons {
        &__box {
            grid-template-columns: repeat(1, 1fr);
            padding-bottom: 85px;
        }
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 52px;
        }
        &__title {
            font-size: 32px;
            line-height: 39px;
        }
        &__text {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
        }
        &__img {
            padding-top: 64px;
            display: flex;
            justify-content: center;
        }

    }
    .words {
        &__box {
            grid-template-columns: repeat(1, 1fr);
            padding-bottom: 90px;
        }
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 72px;
        }
        &__title {
            font-size: 32px;
            line-height: 39px;
        }
        &__text {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
        }
        &__img {
            padding-top: 64px;
            display: flex;
            justify-content: center;
        }

    }
}